.section2 p,.section4 p{
    font-size: 15px;
    margin: 0px;
}
.section2 h1,.section4 h1{
    font-size: 30px;
}
.section3 .social-growth img{
    padding: 3px;
    margin-left: 0px;
}
.section4 button{
    margin-left: 100px;
}
.section5 img{
    width:600px
}
 .section6{
    display: flex;
    flex-direction: column;
} 
/* .section6 img{
     display: flex;
    flex-shrink: 0;
    width: 150px;
    height: 400px;
} */
.section6 h1{
    font-size:30px ;
}
.arrow{
    top: 160px;
}
.section8-text h1{
    font-size: 25px;
}
.section8-text p{
    font-size: 15px;
    padding: 0;
}
h5{
    display: none;
}
.section11 img,.section12 img{
    width:500px;
    margin: 0px;
}